@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap";*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     font-family: Montserrat, sans-serif;
     background-color: #eee;
}
 .container{
     padding: 1em;
     background-color: #fff;
     border-radius: 5px;
     width: 400px;
     box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}
 .form h1{
     text-align: center;
}
 .form{
     padding: 0 20px;
}
 .form__content{
     margin-top: 20px;
}
 .form__line{
     margin-bottom: 10px;
}
 .form__line label{
     font-size: 1.3rem;
     margin-bottom: 5px;
}
 .form__input{
     border: solid 2px #eee;
     border-radius: 3px;
     padding: 10px;
     margin-bottom: 5px;
     width: 100%;
     outline: 0;
}
 small{
     color: #ed4245;
}
 .form__input.error{
     border: solid 2px #ed4245;
}
 .form__input.succes{
     border: solid 2px #5cb85c;
}
 .btn{
     font-size: 1.2rem;
     color: #fff;
     width: 100%;
     padding: 10px 20px;
     background-color: #5cb85c;
     border: none;
     cursor: pointer;
}
